.cartItem{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}
.cartItem :first-child{
    width: 75%;
}
.heading{
    text-align: center;
    margin-bottom: 2em;
}

.symbol{
    width: 28px;
    height: 28px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    padding-top: 2px;
    line-height: 1;
}
.value{
    width: 20px;
    margin: 0 5px;
}